{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>CheckIn List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CheckinDate</th>
                <th>CheckoutDate</th>
                <th>User</th>
                <th>Room</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in booking %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.checkinDate ? booking.checkinDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.checkoutDate ? booking.checkoutDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.user }}</td>
                <td>{{ booking.room }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>CheckOut List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CheckinDate</th>
                <th>CheckoutDate</th>
                <th>User</th>
                <th>Room</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in booking2 %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.checkinDate ? booking.checkinDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.checkoutDate ? booking.checkoutDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.user }}</td>
                <td>{{ booking.room }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}